@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

body {
  font-family: 'Stack Sans Text', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#container {
  display: flex;
  padding: 38px;
  justify-content: center;
  background-color: rgba(230, 148, 41, 0.79);
  max-width: 400px;
  max-height: 218px;
  border-radius: 41px;
  border: solid 2px rgb(97, 53, 43);
  align-items: center;
  margin: auto;
  text-align: center;
  color:rgb(92, 34, 8) ;
}
#btn {
  color: rgb(230, 148, 41);
  background-color: rgb(96, 52, 42);
  border-radius: 12px;
  border: none;
  width: 182px;
  height: 46px;
  cursor: pointer;
  margin: auto;
  font-size: 18px;
  transition: background-color 0.2s, transform 0.2s;
}
   /* Transição suave de 0.3 segundos para background-color e transform */


input:focus {
  outline: ridge 1px maroon;
}

#input-name{
  margin: 30px 0 30px;
  font-size: 18px;
  text-align: start;
  text-indent: 10px;
  border-radius: 12px;
  border: 2px solid maroon;
  width: 300px;
  height: 35px;
}
z
#btn:hover {
  background-color: rgba(2, 2, 2, 0.747);
}

