
h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    font-style: italic;
}

section > p {
    padding: 5px;
    font-size: 20px;
}


/* 
/* PAGINAS */
.container {
    display: flex;
    padding: 50px;
    
    
    background-color: rgb(247, 232, 212);
    margin: 15px 100px;
    flex-direction: column;
    /* max-height: 800px; */
    border-radius: 16px;
    box-shadow: 2px 2px 2px 0px #37200a;
    border: solid 3px rgb(200, 101, 45);
    color: rgb(56, 32, 15);
    margin-bottom: 20px;
}

#first-txt {
    text-align: start;
}

 #container-sobremim {
    display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 20px;

}

.icons {
    width: 36px;
    position: absolute;
    top: 10px;
}


#persona-img {
    width: 300px;
    border-radius: 38px;
}



#texto > p {
    font-size: 20px;
    text-align: justify;

}

#texto > h1 {
    margin: 0;
    text-align: justify;
}


header > nav > .selecionado {
    background-color: rgb(198, 99, 17); 
    color: white;
}
 